# Node & Build Artifacts
node_modules/
.next/
dist/
build/
coverage/
*.log
*.tsbuildinfo

# Env Files
.env
.env.*
!.env.example

# Sensitive Files
credentials/firebase-service-account.json
format-key.js

# IDEs and OS
.vscode/
.idea/
.DS_Store
*.swp
